<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GitHub Search</a>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/OwinoLucas"><i class="fa fa-github" aria-hidden="true"></i>
          Github</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="searchForm">
      <input class="form-control mr-sm-2" type="text" placeholder="Enter github username">
      <button class="btn btn-secondary my-2 my-sm-0" (click)="searchUser()">Search</button>
    </form>
  </div>
</nav>
