<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GitHub Search</a>
  <div class="collapse navbar-collapse" id="navbarColor02">


    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Enter github username..." [(ngModel)]="userName"
        name="userName" aria-label="Search">
      Display{{userName}}&nbsp;
      <button class="btn bg-success" (click)="search()">Search</button>
    </form>

    &nbsp;
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/OwinoLucas"><i class="fa fa-github" aria-hidden="true"></i>
          Github</a>
      </li>
    </ul>

  </div>
</nav>
