<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GitHub Search</a>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <form class="form-inline my-2 my-lg-0" #githubSearchForm='ngForm'>
      <input class="form-control mr-sm-2" type="text" id="userName" placeholder="Enter github username..."
        [(ngModel)]="githubUser.userName" name="userName" #userName='ngModel'>
      Display{{githubUser.userName}}
      <button class="btn btn-secondary my-2 my-sm-0" (click)="getUser()">Search</button>
    </form>

    &nbsp;
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/OwinoLucas"><i class="fa fa-github" aria-hidden="true"></i>
          Github</a>
      </li>
    </ul>

  </div>
</nav>
