<div class="container">
  <div class="col-md-7">

    <div>
      <div class="card" *ngIf="let githubrepo of githubrepos" class="githubRepos">
        <h5 class="card-header">Repos</h5>
        <div class="card-block">

          <div class="list-group">

            <a *ngFor="let repo of githubUser.repos" href="{{Githubrepos.html_url}}" target="_blank"
              class="list-group-item list-group-item-action">
              <span class="tag tag-info pull-xs-right">{{Githubrepos.watchers_count}} Watchers</span>
              <span class="tag tag-success pull-xs-right m-r-05">{{Githubrepos.forks}} Forks</span>
              <h6 class="list-group-item-heading">{{Githubrepos.name}} Name</h6>
              <p class="list-group-item-text">{{Githubrepos.description}} Description</p>
              <p class="list-group-item-text">{{Githubrepos.language}} Language</p>
              <p class="list-group-item-text">{{Githubrepos.created_at}} CReated</p>

            </a>


          </div>

        </div>
      </div>
    </div>

  </div>


</div>
