body {
  background-image: url("../../assets/img7.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.container {
  opacity: 0.86;
  font-family: 'Titillium Web', sans-serif;
  font-size: larger;
  font-weight: bolder;
}
