<div class="m-x-auto">

  <div class="starter-template text-xs-center">
    <h5>Search any user</h5>
    <p class="lead">Please enter a <b>username</b>.</p>
    <app-github-search (userUpdated)="search($event)"></app-github-search>
  </div>

</div>


<div class="row">

  <div class="col-md-5">


    <div class="card" *ngIf="searchUsers">
      <h4 class="card-header">{{githubUsers.name}}</h4>
      <div class="card-block">
        <div class="row">
          <div class="col-xl-4 m-b-1">
            <img src="{{githubUsers.avatar_url}}" class="profile-img img-thumbnail m-b-1" />
            <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{githubUsers.html_url}}"
              target="_blank">View Profile</a>
          </div>

          <div class="col-xl-8">


            <ul class="list-group">
              <li class="list-group-item"><b>Username: </b> {{githubUsers.login}}</li>
              <li class="list-group-item"><b>Location: </b> {{githubUsers.location}}</li>
              <li class="list-group-item"><b>E-Mail: </b> {{githubUsers.email}}</li>
              <li class="list-group-item"><b>Date Joined: </b> {{githubUsers.created_at}}</li>

            </ul>

          </div>
        </div>

        <div class="status m-t-1">

          <span class="p-a-05 bg-info text-xs-center"> {{githubUsers.public_repos}} Public Repos </span>&nbsp;
          <span class="p-a-05 bg-danger m-t-1 text-xs-center"> {{githubUsers.followers}} Followers </span>&nbsp;
          <span class="p-a-05 bg-inverse m-t-1 text-xs-center"> {{githubUsers.following}} Followings </span>


        </div>

      </div>
    </div>





  </div>


</div>
