<div class="m-x-auto">

  <div class="starter-template text-xs-center">
    <h5>Search any user</h5>
    <p class="lead">Please enter a <b>username</b>.</p>
    <app-github-search (userUpdated)="search($event)"></app-github-search>
  </div>

</div>

<div class="container">

  <div class="card" *ngIf="searchUsers">
    <h4 class="card-header">{{githubUsers.name}}</h4>
    <div class="card-block">
      <div class="row">
        <div class="col-xl-4 m-b-1">
          <img src="{{githubUsers.avatar_url}}" class="profile-img img-thumbnail m-b-1" />
          <a class="btn btn-sm btn-outline-primary btn-block m-t-1" href="{{githubUsers.html_url}}" target="_blank">View
            Profile</a>
        </div>

        <div class="col-xl-8">

          <ul class="list-group">
            <li class="list-group-item"><b>Username: </b> {{githubUsers.login}}</li>
            <li class="list-group-item"><b>Location: </b> {{githubUsers.location}}</li>
            <li class="list-group-item"><b>E-Mail: </b> {{githubUsers.email}}</li>
            <li class="list-group-item"><b>Date Joined: </b> {{githubUsers.created_at|date}}</li>
          </ul>

        </div>
      </div><br>

      <div class="status m-t-1">

        <span class="p-a-05 bg-info text-xs-center"> {{githubUsers.public_repos}} Public Repos </span>&nbsp;
        <span class="p-a-05 bg-warning m-t-1 text-xs-center"> {{githubUsers.followers}} Followers </span>&nbsp;
        <span class="p-a-05 bg-secondary m-t-1 text-xs-center"> {{githubUsers.following}} Followings </span>

      </div>

    </div>
  </div><br>
  <div class=" card bg-dark text-white ">
    <h2 class="text-center">Repositories</h2>
    <div class="githubRepos">
      <div class="label " *ngFor="let githubRepo of githubRepos">
        <div class="card-body">
          <h4 class="card-title h4">REPO NAME:<span class="rep">{{githubRepo.name}}</span> </h4>
          <div class="card-text">
            <hr>
            <h5 class="">DESCRIPTION:<span> {{githubRepo.description}}</span></h5>
            <div class="card-subtitle mb-2">Language: <span> {{githubRepo.language}}</span></div>
            <div class="card-subtitle mb-2">Created: <span id="created">{{githubRepo.created_at|date }}</span> <br>
              On: <span>{{githubRepo.created_at }}</span></div>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group">Watchers:
            <button class="btn btn-sm btn-primary"><span class="forks">{{githubRepo.watchers_count}}</span></button>
          </div>&nbsp;&nbsp;
          <div class="btn-group">Forks:
            <button class="btn btn-sm btn-outline-success">
              <span class="forks">{{githubRepo.forks}}</span></button>
          </div>
          <div class="btn-group float-right">
            <button class="btn btn-outline-primary" id="visit"><a href="{{githubRepo.html_url}}" target="blank"
                class="card-link">View</a> </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
